.wrapper {
  display: flex;
  flex-direction: column;
}

.item {
    border: 1px solid rgb(210, 207, 207);
    background: white;
    cursor: pointer;
    margin-bottom: 1px;
    height: 50px;
    width: 100%;
    z-index: 1;
  }

  .item:hover{
    background-color: rgb(145, 164, 167);
    color: white;
  }
  .capital {
    color: rgb(27, 125, 27);
    font-style: italic;
  }
  .active {
    background-color: rgb(221, 231, 238);
    cursor: pointer;
    margin-bottom: 1px;
    height: 50px;
    width: 80%;
  }
  h6 {
    align-self: flex-start;
  }
  p {
    margin-bottom: 0;
    font-size: 10px;
  }